{% extends "header.html" %}

{% block content %}

        <div id="main" class="site-main">
          <div id="main-content" class="single-page-content">
            <div id="primary" class="content-area">

              <div class="page-title">
                <h1>Portfolio</h1>
                <div class="page-subtitle">
                    <h4> My Diary</h4>
                </div>
              </div>

              <div id="content" class="page-content site-content single-post" role="main">

                <div class="row">
                  <div class=" col-xs-12 col-sm-12 ">

                    <div class="blog-masonry two-columns clearfix">
                      <!-- Blog Post 3 -->
                      <div class="item">
                        <div class="blog-card">
                          <div class="media-block">
                            <div class="category">
                              <a href="#" title="View all posts in UI">Static Site</a>
                            </div>
                            <a href="https://rwebtech.online/">
                              <img src="{{ BASE_DIR }}media/img/blog/blog_post_3.png" alt="Creative and Innovative Navigation Designs" title="" />
                              <div class="mask"></div>
                            </a>
                          </div>
                          <div class="post-info">
                            
                            <a href="https://rwebtech.online/">
                              <h4 class="blog-item-title">Rwebtech.online</h4><br>
                            </a>
                            <div class="post-date">It is provide Service Like Web-development, Web-design, Mobile app development, Digital Marketing.</div>
                          </div>
                        </div>
                      </div>
                      <!-- Blog Post 1 -->
                      <div class="item">
                        <div class="blog-card">
                          <div class="media-block">
                            <div class="category">
                              <a href="#" title="View all posts in WordPress">PHP - Codigniter</a>
                            </div>
                            <a href="https://myvcards.link/">
                              <img src="{{ BASE_DIR }}media/img/blog/blog_post_1.png" alt="How to Make a WordPress Plugin Extensible" title="" />
                              <div class="mask"></div>
                            </a>
                          </div>
                          <div class="post-info">
                            
                            <a href="https://myvcards.link/">
                              <h4 class="blog-item-title">Myvcards.link</h4><br>
                            </a>
                            <div class="post-date">It is a dynamically create a Digital Visiting Cards (Mini Website) .It is also Provide User Panel, Admin Panel included.</div>
                          </div>
                        </div>
                      </div>
                      <!-- End of Blog Post 1 -->
                      
                      <!-- Blog Post 2 -->
                      <div class="item">
                        <div class="blog-card">
                          <div class="media-block">
                            <div class="category">
                              <a href="#" title="View all posts in Design">PHP - Codigniter</a>
                            </div>

                            <a href="https://meera-enterprise.in/">
                              <img src="{{ BASE_DIR }}media/img/blog/blog_post_2.png" alt="6 Easy Steps to Better Icon Design" title="" />
                              <div class="mask"></div>
                            </a>
                          </div>
                          <div class="post-info">
                            <a href="https://meera-enterprise.in/">
                              <h4 class="blog-item-title">Meera-Enterprise.in</h4><br>
                            </a>
                            <div class="post-date">It Is Mini E-commerce Website With Admin Panel included.</div>
                          </div>
                        </div>
                      </div>
                      <!-- End of Blog Post 2 -->
                      

                      <!-- Blog Post 4 -->
                      <div class="item">
                        <div class="blog-card">
                          <div class="media-block">
                            <div class="category">
                              <a href="#" title="View all posts in Design">PHP - Codigniter</a>
                            </div>
                            <a href="https://portfolio4u.tk/">
                              <img src="{{ BASE_DIR }}media/img/blog/blog_post_4.png" alt="Why I Switched to Sketch For UI Design" title="" />
                              <div class="mask"></div>
                            </a>
                          </div>
                          <div class="post-info">
                            <a href="https://portfolio4u.tk/">
                              <h4 class="blog-item-title">Portfolio4u.tk</h4><br>
                            </a>
                            <div class="post-date">It is a dynamically create a Digital Resume (Mini Portfolio Website) .It is also Provide User Panel, Admin Panel included.</div>
                          </div>
                        </div>
                      </div>
                      <!-- End of Blog Post 4 -->
                      
                    </div>

                    <a class="btn btn-primary" href="https://rwebtech.online/demo.html" target="_blank">View More Projects</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

     {% endblock %}
