{% extends "header.html" %}

{% block content %}

        <!-- /Header -->

        <div id="main" class="site-main">
          <div id="main-content" class="single-page-content">
            <div id="primary" class="content-area">    
              <div id="content" class="page-content site-content single-post" role="main">
                <!-- Home Page Top Part -->
                <div class="row">
                  <div class=" col-xs-12 col-sm-12">
                    <div class="home-content">
                      <div class="row flex-v-align">
                        
                        <div class="col-sm-12 col-md-5 col-lg-5">
                          <div class="home-photo">
                            <div class="hp-inner" style="background-image: url({{ BASE_DIR }}static/img/main_photo.jpg);">
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-12 col-md-7 col-lg-7">
                          <div class="home-text hp-left">
                            <div class="owl-carousel text-rotation">                                    
                              <div class="item">
                                <h4>Full-Stack-developer</h4>
                              </div>

                              <div class="item">
                                <h4>Software Developer</h4>
                              </div>

                              <div class="item">
                                <h4>PHP/Python Programmer</h4>
                              </div>
                            </div>
                              
                            <h1>Rakshit Savsani </h1>
                            <p>Currnetly I am Working Part-time As Software Developer In QRS india Pvt. Ltd. 
                              and I am also Working As Freelancer in Free Time.  <br><br>I would to like working with the organization where i can grow my skills. Also Seeking an environment where I can implement my knowledge and grow myself professionally, socially and financially </p>
                                 
                            <div class="home-buttons">
                              <a href="#" target="_blank" class="btn btn-primary">Download CV</a>
                              <a href="#" target="_self" class="btn btn-secondary">Contact</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Home Page Top Part -->

                <!-- Services -->
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="p-50"></div>

                    <div class="block-title">
                      <h2>What I Do</h2>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="info-list-w-icon">
                      <div class="info-block-w-icon">
                        <div class="ci-icon">
                          <i class="linecons linecons-pen"></i>
                        </div>
      
                        <div class="ci-text">
                          <h4>Programming</h4>
                          
                        </div>
                      </div>
    
                      <div class="info-block-w-icon">
                        <div class="ci-icon">
                          <i class="linecons linecons-display"></i>
                        </div>
     
                        <div class="ci-text">
                          <h4>Web Design & Development</h4>
                          
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6">
                    <div class="info-list-w-icon">

                      <div class="info-block-w-icon">
                        <div class="ci-icon">
                          <i class="linecons linecons-shop"></i>
                        </div>

                        <div class="ci-text">
                          <h4>Ecommerce Development</h4>
                          
                        </div>
                      </div>

                      <div class="info-block-w-icon">
                        <div class="ci-icon">
                          <i class="linecons linecons-megaphone"></i>
                        </div>

                        <div class="ci-text">
                          <h4>Digital Marketing</h4>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Services -->

                

                <!-- Fun Facts -->
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="block-title">
                      <h2>Fun Facts</h2>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-3">
                    <div class="lm-info-block gray-default">
                      <i class="linecons linecons-star"></i>
                      <h4>Working Experience</h4>
                      <span class="lm-info-block-value">1.5 Year</span>
                      <span class="lm-info-block-text"></span>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-3">
                    <div class="lm-info-block gray-default">
                      <i class="linecons linecons-clock"></i>
                      <h4>Working Hours</h4>
                      <span class="lm-info-block-value">1500 +</span>
                      <span class="lm-info-block-text"></span>
                    </div>
                  </div>

                   <div class="col-xs-12 col-sm-3">
                    <div class="lm-info-block gray-default">
                      <i class="linecons linecons-star"></i>
                      <h4>Projects Done</h4>
                      <span class="lm-info-block-value">12</span>
                      <span class="lm-info-block-text"></span>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-3 ">
                    <div class="lm-info-block gray-default">
                      <i class="linecons linecons-heart"></i>
                      <h4>Happy Clients</h4>
                      <span class="lm-info-block-value">10</span>
                      <span class="lm-info-block-text"></span>
                    </div>
                  </div>

                  
                </div>
                <!-- /Fun Facts -->

                

              </div>
            </div>
          </div>
        </div>



{% endblock %}