<!doctype html>
<html lang="en" class="no-js">
  {% load static %}

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rakshit Savsani - Resume / CV </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Leven - Resume / CV / vCard Template" />
    <meta name="keywords" content="vcard, resposnive, retina, resume, jquery, css3, bootstrap, portfolio" />
    <meta name="author" content="lmpixels" />
    <link rel="shortcut icon" href="{{ BASE_DIR }}static/download.jpg">


    <link rel="stylesheet" href="{{ BASE_DIR }}static/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="{{ BASE_DIR }}static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{{ BASE_DIR }}static/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="{{ BASE_DIR }}static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="{{ BASE_DIR }}static/css/main.css" type="text/css">

    <script src="{{ BASE_DIR }}static/js/modernizr.custom.js"></script>
  <script async src='{{ BASE_DIR }}static/cdn-cgi/bm/cv/669835187/api.js'></script>
</head>
  <body class="page">

    <div class="lm-animated-bg"></div>

    <!-- Loading animation -->
    <div class="preloader">
      <div class="preloader-animation">
        <div class="preloader-spinner">
        </div>
      </div>
    </div>
    <!-- /Loading animation -->

    <!-- Scroll To Top Button -->
    <div class="lmpixels-scroll-to-top"><i class="lnr lnr-chevron-up"></i></div>
    <!-- /Scroll To Top Button -->

    <div class="page-scroll">
      <div id="page_container" class="page-container bg-move-effect" data-animation="transition-flip-in-right">

        <!-- Header -->
        <header id="site_header" class="header">
          <div class="header-content clearfix">

            <!-- Text Logo -->
            <div class="text-logo">
              <a href="index">
                <div class="logo-symbol">R</div>
                <div class="logo-text">Rakshit <span>Savsani</span></div>
              </a>
            </div>
            <!-- /Text Logo -->

            <!-- Navigation -->
            <div class="site-nav mobile-menu-hide">
              <ul class="leven-classic-menu site-main-menu">
                  {% if user.is_authenticated %}
                <li class="menu-item">
                  <a href="index">About Me</a>

                </li>

                <li class="menu-item">
                  <a href="Resume">Resume</a>
                </li>



                <li class="menu-item">
                  <a href="Portfolio">Portfolio</a>

                </li>

                <li class="menu-item">
                  <a href="Contact">Contact</a>
                </li>
                  <li class="menu-item" >
                  <a  class="btn btn-primary " href="logout">Log Out </a>
                </li>
                  {% else %}
                  <li class="menu-item">
                  <a href="login">Log In</a>
                </li>
                  <li class="menu-item">
                  <a href="signup">Sign UP</a>
                </li>
                  {% endif %}
              </ul>
            </div>

            <!-- Mobile Menu Toggle -->
            <a class="menu-toggle mobile-visible">
              <i class="fa fa-bars"></i>
            </a>
            <!-- Mobile Menu Toggle -->
          </div>
        </header>

          {% if messages %}

                  <div class="alert alert-warning" role="alert" >
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {% for message in messages %}
                       <h5 style="color:blue">
                           {{message}}
                       </h5>
                       {% endfor %}
                  </div>

                {% endif %}

          <div class="row">

                  <div class=" col-xs-12 col-sm-4 ">



                  </div>


                  <div class=" col-xs-12 col-sm-6 ">

                    <div class="block-title">
                      <h2>Hello...</h2><br>
                        <h3>Get Started With Us...</h3><br>
                    </div>

                    <form class="contact-form" action="signup" method="post">
                      {% csrf_token %}
                      <div class="messages"></div>

                      <div class="controls two-columns">
                        <div class="fields clearfix">
                          <div class="left-column">
                              <div class="form-group form-group-with-icon">
                              <input id="form_name" type="text" name="firstname" class="form-control" placeholder="First name" required="required" data-error="Name is required.">
                              <div class="form-control-border"></div>
                              <div class="help-block with-errors"></div>
                            </div>

                              <div class="form-group form-group-with-icon">
                              <input id="form_name" type="text" name="lastname" class="form-control" placeholder="Last name" required="required" data-error="Name is required.">
                              <div class="form-control-border"></div>
                              <div class="help-block with-errors"></div>
                            </div>

                              <div class="form-group form-group-with-icon">
                              <input id="form_name" type="email" name="email" class="form-control" placeholder="Email" required="required" data-error="Name is required.">
                              <div class="form-control-border"></div>
                              <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group form-group-with-icon">
                              <input id="form_name" type="text" name="username" class="form-control" placeholder="Username" required="required" data-error="Name is required.">
                              <div class="form-control-border"></div>
                              <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group form-group-with-icon">
                              <input id="form_email" type="password" name="password" class="form-control" placeholder="Password" required="required" data-error="Valid email is required.">
                              <div class="form-control-border"></div>
                              <div class="help-block with-errors"></div>
                            </div>

                              <div class="form-group form-group-with-icon">
                              <input id="form_email" type="password" name="cpassword" class="form-control" placeholder="Confirm Password" required="required" data-error="Valid email is required.">
                              <div class="form-control-border"></div>
                              <div class="help-block with-errors"></div>
                            </div>


                          </div>

                        </div>



                        <input type="submit" class="button btn-send " value="Sign up">
                      </div>
                    </form>

                  </div>


                </div>

        <footer class="site-footer clearfix">
          <div class="footer-social">
            <ul class="footer-social-links">
              <li>
                <a href="https://twitter.com/RakshitSavsani" target="_blank">Twitter</a>
              </li>

              <li>
                <a href="https://www.facebook.com/rakshit.savasani/" target="_blank">Facebook</a>
              </li>

              <li>
                <a href="https://www.instagram.com/rakshitsavsani/" target="_blank">Instagram</a>
              </li>

              <li>
                <a href="https://rwebtech.online/" target="_blank">Web-site</a>
              </li>
            </ul>
          </div>

          <div class="footer-copyrights">
           <a href="https://rwebtech.online/" target="_blank">
            <p>© 2021 All rights reserved Rakshit.savsani</p>
          </a>
          </div>
        </footer>
        <!-- /Footer -->

      </div>
    </div>

<script src="{{ BASE_DIR }}static/js/jquery-2.1.3.min.js"></script>
    <script src="{{ BASE_DIR }}static/js/imagesloaded.pkgd.min.js"></script>

    <script src="{{ BASE_DIR }}static/js/bootstrap.min.js"></script>
    <script src='{{ BASE_DIR }}static/js/jquery.shuffle.min.js'></script>
    <script src='{{ BASE_DIR }}static/js/masonry.pkgd.min.js'></script>
    <script src='{{ BASE_DIR }}static/js/owl.carousel.min.js'></script>
    <script src="{{ BASE_DIR }}static/js/jquery.magnific-popup.min.js"></script>

    <script src="{{ BASE_DIR }}static/js/jquery.googlemap.js"></script>
    <script src="{{ BASE_DIR }}static/js/validator.js"></script>
    <script src="{{ BASE_DIR }}static/js/main.js"></script>
  <script type="text/javascript">(function(){window['__CF$cv$params']={r:'6564c03cad531a4a',m:'d6f9670c66b69e7aef7644f225c1fcf5bd427425-1622176261-1800-AQtQapWyjtbF+rIDcUrYt6BcCMBKfxNBS/0AWoo4bAjIzq0pDa7LDW5Fblv2nligMimT2DJAlU961/RjFMlmtMfbXczt/RXDTf47W3LA/WGN2zoiY+uDk/d9Jci3kFT1eMe4Xrie3t3xxTz2CA6c6f0uGbTEOeSo4klheog9JIRP',s:[0xaad0ea87a3,0xc07805124f],}})();</script><script defer src="static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"6564c03cad531a4a","version":"2021.5.2","r":1,"token":"94b99c0576dc45bf9d669fb5e9256829","si":10}'></script>
</body>


</html>
